// _global.scss

// Colores
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$tag-green: #67b54b;
$tag-gray: #979797;
$title-gray: #4a4a4a;

//Fuentes
$font-title: "Alegreya", serif;

%base-title {
  font-family: $font-title;
  color: $dark-green-text;
}